<%- include("../main/htmlStart") %>
<div class="form-container">
<div class="blog">
  <form method="POST" action="/posts/create">
    <input type="text" name="title" />
    <input type="text" />
    <input type="submit" />
  </form>
</div>
</div>
<%- include("../main/htmlEnd") %>
