<%- include("../main/htmlStart") %>
<div class="form-container">
<form method="POST" action="/posts/<%=id%>/delete">
    <p>Delete post?</p>
    <input type="submit">
</form>
</div>
<%- include("../main/htmlEnd") %>
